@font-face {
  font-family: 'calibri-regular';
  src: url('../font/calibri-regular.ttf');
}
@font-face {
  font-family: 'calibri-bold';
  src: url('../font/calibri-bold.ttf');
}
*::selection {
  background: #fcca24b0;
  color: #ffffff;
}
*::-moz-selection {
  background: #fcca24b0;
  color: #ffffff;
}
*::-webkit-selection {
  background: #fcca24b0;
  color: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "calibri-regular", sans-serif;
    scroll-behavior: smooth;
}

p{
    font-size: 15px;
    line-height: 22px;
}

:root{
    --dark-color: #181818;
    /* --light-color: #fcffff; */
}
ul li {
    list-style: none;
}
a{
    text-decoration: none;
}

.container{
    width: 100dvw;
    height: 100dvh;
    background-color: var(--dark-color);
    overflow: hidden;
    position: relative;
}

.divBlur{
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #fcca242a;
    border-radius: 50%;
    pointer-events: none;
    filter: blur(250px);
    transition: left 0.1s linear, top 0.1s linear;
}

.here-container{
    width: 1100px;
    height: 93vh;
    background-color: var(--dark-container);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    overflow: hidden;
}
.parentContent{
    display: flex;
}

/* content  */
.navBar{
    width: 40%;
    height: 93vh;
    display: flex;
    justify-content: space-between;
    align-items: star;
    flex-direction: column;
    padding: 20px 40px;
}
.identity h1 {
    font-family: "calibri-bold", sans-serif;
    color: #dddddd;;
    font-size: 45px;
}
.identity h3{
    color: #dddddd;
    font-size: 18px;
    margin-bottom: 5px;
    font-family: "calibri-regular", sans-serif;
    
}
.singleContainerArea{
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -10px;
}
.singleContainerArea h1{
    font-family: "calibri-bold", sans-serif
}
.singleContainerArea p{
    margin-top: 10px;
    color: #c5c5c5;
    text-align: justify;
    font-size: 17px;
    line-height: 21px;
}
.identity p{
    color: #a3a3a3;
    line-height: 20px;
    font-weight: 500;
}
.middleContent ul li {
    line-height: 30px;
}
/* .middleContent ul li.active i{
    color: #dddddd;
    transition: 0.2s linear;
} */
/* .middleContent ul li.active a{
    color: #dddddd;
    transition: 0.2s linear;
    font-family: 'calibri-bold';
}
.middleContent ul li.active a{
    transition: 0.2s linear;
    font-family: 'calibri-bold';
} */

.active i{
    color: #dddddd !important; 
    transition: 0.2s linear;
}
.active a{
    color: #dddddd !important;
    transition: 0.2s linear;
    font-family: 'calibri-bold';
}

.middleContent ul li a{
    color: #a3a3a3;
    font-weight: 500;
    margin-left: 5px;
    font-size: 17px;
}
.middleContent ul li{
    display: flex;
    align-items: center;
}
.middleContent ul li i {
    font-size: 8px;
    color: #a3a3a3;
}
.contact ul{
    display: flex;
}
.contact ul li a {
    display: block;
    color: #dddddd;
    padding: 10px;
}

.mainContentArea{
    width: 55%;
    height: 93vh;
    overflow-y: hidden;
    padding: 20px;
    color: #c4c4c4;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.mainContentArea::-webkit-scrollbar{
    display: none;
    width: 0px;
}



/* hover details  */
/* .personalId{
    position: relative;
}  */

/* .Identity {
    position: absolute;
    margin-top: -500px;
    text-align: center;
    width: 250px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;
    border: 1px solid rgba(156, 156, 156, 0.514);
}
.Identity p{
    color: #dddddd;
    text-align: center !important;
    line-height: 12px;
}

.meImage {
    width: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.meImage img{
    width: 100%;
} */